Repository matei19989/AI-Summarizer, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, docker, workflows, dependencies, documentation, security, configuration, tests

.github/labeler.yml:

# Configuration for PR labeler action
# Automatically labels PRs based on changed files

backend:
  - changed-files:
    - any-glob-to-any-file:
      - 'AISummarizerAPI/**'
      - '**/*.cs'
      - '**/*.csproj'

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - 'ai-summarizer-frontend/**'
      - '**/*.jsx'
      - '**/*.js'
      - '**/*.css'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - '**/Dockerfile*'
      - 'docker-compose*.yml'
      - '**/.dockerignore'

workflows:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/package*.json'
      - '**/*.csproj'
      - '**/requirements.txt'
      - '.github/dependabot.yml'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - '.github/*.md'

security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*security*'
      - '**/*auth*'
      - '**/SECURITY.md'

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.json'
      - '**/*.yml'
      - '**/*.yaml'
      - '**/*.config'
      - '**/appsettings*.json'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*test*'
      - '**/*spec*'
      - '**/tests/**'
      - '**/test/**'

fix
  AISummarizerAPI/Dockerfile
  AISummarizerAPI/Program.cs
  AISummarizerAPI/obj/Debug/net9.0/AISummarizerAPI.AssemblyInfo.cs
  AISummarizerAPI/obj/Debug/net9.0/AISummarizerAPI.AssemblyInfoInputs.cache
  AISummarizerAPI/obj/Debug/net9.0/AISummarizerAPI.csproj.CoreCompileInputs.cache
  AISummarizerAPI/obj/Debug/net9.0/AISummarizerAPI.sourcelink.json
  AISummarizerAPI/obj/Debug/net9.0/apphost.exe
Labels: backend, docker, configuration

fixes to docker and workflows
  .github/workflows/backend-ci.yml
  .github/workflows/docker-build.yml
  .gitignore
  AISummarizerAPI/Dockerfile
  AISummarizerAPI/Program.cs
  ai-summarizer-frontend/Dockerfile
  ai-summarizer-frontend/nginx.dev.conf
  ai-summarizer-frontend/nginx.prod.conf
  ai-summarizer-frontend/src/config/apiConfig.js
  docker-compose.override.yml
  docker-compose.prod.yml
  docker-compose.yml
Labels: backend, frontend, docker, workflows, configuration

fixes
  AISummarizerAPI/Application/Models/TextContentResult.cs
  AISummarizerAPI/Application/Services/SummarizationOrchestrator.cs
  AISummarizerAPI/Core/Interfaces/IContentExtractor.cs
  AISummarizerAPI/Core/Interfaces/IContentSummarizer.cs
  AISummarizerAPI/Core/Interfaces/IContentValidator.cs
  AISummarizerAPI/Core/Interfaces/IResponseFormatter.cs
  AISummarizerAPI/Core/Models/ContentRequest.cs
  AISummarizerAPI/Core/Models/ExtractedContent.cs
  AISummarizerAPI/Core/Models/SummarizationResult.cs
  AISummarizerAPI/Core/Models/ValidationResult.cs
  AISummarizerAPI/Infrastructure/Services/ContentValidationService.cs
  AISummarizerAPI/Infrastructure/Services/HuggingFaceContentSummarizer.cs
  AISummarizerAPI/Infrastructure/Services/SmartReaderContentExtractor.cs
  AISummarizerAPI/Presentation/Controllers/SummarizationController.cs
  AISummarizerAPI/Program.cs
  AISummarizerAPI/Services/Implementations/HuggingFaceApiClient.cs
  AISummarizerAPI/Utils/LogSanitizer.cs
  AISummarizerAPI/obj/Debug/net9.0/AISummarizerAPI.AssemblyInfo.cs
  AISummarizerAPI/obj/Debug/net9.0/AISummarizerAPI.AssemblyInfoInputs.cache
Labels: backend

fixes wow
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/pr-checks.yml
Labels: workflows, configuration

fixesss..??
  .github/workflows/frontend-ci.yml
  .github/workflows/pr-checks.yml
Labels: workflows, configuration

packages
  .github/workflows/docker-build.yml
  AISummarizerAPI/obj/Debug/net9.0/AISummarizerAPI.AssemblyInfo.cs
  AISummarizerAPI/obj/Debug/net9.0/AISummarizerAPI.AssemblyInfoInputs.cache
  AISummarizerAPI/obj/Debug/net9.0/AISummarizerAPI.GeneratedMSBuildEditorConfig.editorconfig
  AISummarizerAPI/obj/Debug/net9.0/AISummarizerAPI.MvcApplicationPartsAssemblyInfo.cache
  AISummarizerAPI/obj/Debug/net9.0/AISummarizerAPI.MvcApplicationPartsAssemblyInfo.cs
  AISummarizerAPI/obj/Debug/net9.0/AISummarizerAPI.assets.cache
  AISummarizerAPI/obj/Debug/net9.0/AISummarizerAPI.csproj.AssemblyReference.cache
  AISummarizerAPI/obj/Debug/net9.0/AISummarizerAPI.csproj.CoreCompileInputs.cache
  AISummarizerAPI/obj/Debug/net9.0/AISummarizerAPI.csproj.FileListAbsolute.txt
  AISummarizerAPI/obj/Debug/net9.0/AISummarizerAPI.sourcelink.json
  ai-summarizer-frontend/package-lock.json
Labels: backend, frontend, workflows, dependencies, configuration

fx
  .github/workflows/pr-checks.yml
Labels: workflows, configuration

fx
  .github/workflows/docker-build.yml
Labels: workflows, configuration

agpl
  .github/workflows/pr-checks.yml
Labels: workflows, configuration

some fixes
  .github/workflows/docker-build.yml
Labels: workflows, configuration

runtime
  ai-summarizer-frontend/Dockerfile
Labels: frontend, docker
